{% extends 'base.html.twig' %}
{% block title %}Objectif Développeur | page
																																																																					d'accueil
{% endblock %}
{% block body %}
	{% if app.request.get('page') == 1 or
app.request.get('page') == null %}

		<div class="p-0 m-0 mx-auto banner">
			<div class="container text-center">
				<img class="img-fluid w-100" src="img/banner.jpg" alt="bannière">
			</div>
		</div>
	{% endif %}
	<div class="container">
		<div class="row mt-4">
			<div class="col-12 col-lg-9">
				{% if app.request.get('page') == 1 or
app.request.get('page') == null %}

					<h3 class="text-center my-4">Nos derniers articles</h3>
					{% endif%}
					{% for post in posts %}
						<a class="link-neutral" href="{{ path('blog_read', { id: post.id }) }}">
							<div class="m-3 ">
								<article class="article-grid mx-xl-4">
									<div class="custom-card">

										<div class="d-flex align-items-center">
											<img class='rounded-circle m-2' width="32" heigh='32' src="uploads/{{ post.author.avatar}}" alt="{{post.author}}">

											<small>
												<strong>
													{{ post.author.pseudo }}</strong>
												/ Le
												{{ post.publishedAt | date('m/d/Y')}}
											</small>

										</div>
										<div class="d-flex flex-column-reverse flex-lg-row">
											<div class="flex-grow-1">
												<div class="px-3">
													<h2 class="card-title mt-2 fs-4">
														<b>{{ post.title }}</b>
													</h2>
													<p class="card-text pb-0">{{ post.content| slice(0,200) |raw  }}...</p>
													<p>

														<small>{{ post.validComments | length }}
															Commentaires</small>
													</p>
												</div>

											</div>
											<div class="w-50 align-self-center me-3">
												{% if post.image%}
													<img src="uploads/{{ post.image }}" width="100%" class=" img-fluid" alt="..."/>
												{% endif %}
											</div>
										</div>
									</div>
								</article>
							</div>
						</a>
					{% endfor %}
					{{ knp_pagination_render(posts) }}
				</div>
				<div class="d-none d-lg-block col-lg-3 right-sidebar mt-3">
					<img class="img-fluid w-100 rounded-2 " src="img/job_board.jpg" alt="offres d'emploi">
				</div>
			</div>
		</div>

	{% endblock %}
