{% extends "base.html.twig" %}
{% block body %}
	<div class="container max-800">

		<h1 class="mt-5 mb-3 text-center">{{ post.title }}</h1>

		<p class="text-center mb-2">{{ post.publishedAt | date("d/m/Y") }}
			/{{ post.validComments|length}}
			Commentaires /
			{{ post.author.pseudo }}</p>
		<div class="text-center mb-5 ">
			<img width="650" class="img-fluid" src="{{ post.getImageUrl }}" alt=""><br>
		</div>

		<p>{{ post.content |raw }}</p>

		<!---------------------------------- Listes des commentaires approuvés --------------------->
		<div class="comment-list">

			{% for comment in post.validComments %}
				<article>
					<li class="py-3">
						<div class="row">
							<div class="col-1">


								<i class="fa-solid fa-circle-user fs-2"></i>
							</div>
							<div class="col-11">
								<p class="fw-bold">{{ comment.author }}
									<!--<span class="d-inline-block reply "><strong>Répondre</strong></span> -->
									<br>
									<small class="fw-light text-muted">
										Le
										{{ comment.postedAt | date("d/m/Y") }}</small>
								</p>
								<p class="">{{ comment.content }}</p>
							</div>
						</li>
					</li>
				</article>


			{% endfor %}

		</div>
		<!-----------      Formulaire de soumission de commentaires ----------------------------------------------------------------- -->
		<div class="form-comment-group p-md-4 p-2 border-md-5 mt-2 ">

			<p class="fs-4 fw-bold m-0">Laisser un commentaire</p>
			<p class="fs-6 fw-normal fw-light fst-italic">Tous les champs sont requis</p>
			{{ form_start(form) }}
			{{ form_row(form.author) }}

			{{ form_row(form.content) }}
			<button type="submit" class="btn btn-secondary btn-lg mb-1 mt-2 white">Poster le commentaire</button>
			{{ form_end(form) }}
		</div>


	</div>

{% endblock %}
